@import url('https://fonts.googleapis.com/css?family=Muli:300');

body {
	font-family: 'Muli', sans-serif;

}

h1 {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 22px;
	font-weight: normal;
}

#allContacts {
	width: 484px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.contact {
	width: 200px;
	float: left;
	padding: 10px;
	margin: 10px;
	text-align:center;
	border: 1px solid black;
}